# RewriteEngine On

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-

# RewriteRule . index.php [L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    Options All -Indexes

    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1
</IfModule>